<h1>Need Music?</h1>
<p class="lead">Use the ngSpotify app to browse new releases and find your favorite songs</p>

<form>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Search Artists..." [(ngModel)]="searchStr" name="searchStr" (keyup)="searchMusic()">
    </div>
</form>

<div *ngIf="searchRes">
    <div *ngFor="let artist of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4><a routerLink="/artist/{{artist.id}}">{{artist.name}}</a></h4>
                    <div>
                        <strong>Genres: </strong>
                        <span *ngFor="let genre of artist.genres">{{genre}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>