<div class="row">
    <div class="col-md-12">
        <form class="well">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Bitbucket Username..." [(ngModel)]="username" name="username" (keyup)="searchUser()">
            </div>
        </form>
    </div>
</div>

<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            
            <h3 class="panel-title"><img class="img-thumbnail" src="{{user.links.avatar.href}}">  {{user.display_name}}</h3>
        </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">                           
                <a class="btn btn-default btn-block" target="_blank" href="{{user.links.html.href}}">View Profile</a>
            </div>
            <div class="col-md-8">
                <div class="stats">
                    <span class="label label-default" *ngIf="repo">{{repo.size}} Public Repositories</span>
                    <span class="label label-primary" *ngIf="following">{{following.size}} Following</span>
                    <span class="label label-success" *ngIf="followers">{{followers.size}} Followers</span>
                </div>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Username: </strong>{{user.username}}</li>
                    <li class="list-group-item"><strong>Website: </strong>{{user.website}}</li>
                    <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                    <li class="list-group-item"><strong>User Since: </strong>{{user.created_on}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User Repositories</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let rep of repositories">
                <div class="row">
                    <div class="col-md-9">
                        <h4><a target="_blank" href="{{rep.links.html.href}}">{{rep.name}}</a></h4>
                    </div>
                    <div class="col-md-3">
                        <span class="label label-default" *ngIf="repo"></span>
                        <span class="label label-primary" *ngIf="following"></span> 
                    </div>
                </div>
                <hr>
            </div>
        </div>
</div>
</div>